*{​​​​​​​​
font-size:0;
}​​​​​​​​
 
#container{​​​​​​​​
width: 800px;
height: 500px;
background-color: blanchedalmond;
border: 1pxsolidblack;
}​​​​​​​​
 
 
#bovenkant{​​​​​​​​
width: 800px;
height: 50%;
background-color: yellow;
}​​​​​​​​
 
#middenstuk{​​​​​​​​
width: 800px;
height: 167px;
background-color: blue;
}​​​​​​​​
 
#onderkant{​​​​​​​​
width: 800px;
height: 167px;
background-color: red;
}​​​​​​​​

